# ======================
# Environment variables
# ======================
.env
.env.*

# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
venv/
.venv/
env/

# ======================
# Logs
# ======================
logs/
*.log

# ======================
# Database / Backup
# ======================
backup/
*.bson
*.json

# ======================
# MongoDB
# ======================
data/
dump/

# ======================
# Node (if any)
# ======================
node_modules/

# ======================
# Docker
# ======================
*.pid
*.sock

# ======================
# OS / Editor
# ======================
.DS_Store
Thumbs.db
.vscode/
.idea/

# AI dataset / local resources
EmpatheticDialogues/
